* {
	font-family: "Century Gothic",sans-serif;
    font-style: normal;
	padding: 0;
    margin: 0;   
}

body{
    background-image: url("https://lh5.googleusercontent.com/-_RaJJJwVVp4/TWyxBPBsFhI/AAAAAAAAIgk/E-1PvRDGB3c/s1600/paisaje+verde.jpg");
    background-size: cover;
    
}
a{
    font-size: 30px;
    color: rgb(235, 29, 22);
}

h1{
    font-size: 30px;
    color: #666;
  /*  color: #ffffff;*/
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;    
}

.container-form{
    width: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container-form1{
    width: 1000px;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
}

form{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 5%;   
}

label{
    font-size: 20px;
    display:block;
    color:#416297;
   /* color: #ffffff;*/
}

textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

input, textarea{
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    border:1px solid #ccc;
}

input:focus, textarea:focus{
    border: 1.5px solid #1558c4;
    color:  #6c6c6c ;  
}

input[type="submit"], input[type="reset"]{
    height: 55px;
    color: #ffffff;
}

input[type="submit"]{
    background-color:#3574e3; 
}

input[type="submit"]:hover {
    background: #1d41b8;
}

input[type="reset"]{
    background-color:#ff5959;  
}

@media screen and (max-width: 800px){
    .container-form{
        width: 500px;   
    }

    .container-form1{
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    .container-form{
        width: 350px;
    }

    .container-form1{
        width: 350px;
    }
}